@page "/book"
@inject HttpClient Http
@using Models;
@using Client.Shared.Utilities

<PageTitle>Andet Hotel Booking</PageTitle>

<h1>Booking</h1>

<EditForm Model="@booking">
<div class="container">
<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <span>Check In</span><br/>
                            <InputDate required min="2023-09-21" Value="@booking.startDate"> </InputDate>
                    </div>
                    <div class="col-sm">
                        <span>Check Out</span><br/>
                        <InputDate required min="2023-09-22" Value="@booking.endDate"> </InputDate>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
<div class="col-sm">
    @if (rooms == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (RoomType room in rooms)
        {
            <div class="card">
                    <div class="container">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <img src="https://static01.nyt.com/images/2019/03/24/travel/24trending-shophotels1/24trending-shophotels1-superJumbo.jpg" style="height:100px;">
                                    </div>
                                    <div class="col-sm">
                                        @room.name
                                        @room.bedAmount
                                        @room.price
                                    </div>
                                    <div class="col-sm">
                                        <button type="button" class="btn btn-primary" onclick="@sendRequest" value="Book">Book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <br/>
        }
    }
</div>
</div>
</div>
</EditForm>

@code {
    private Booking booking = new Booking();
    private List<RoomType>? rooms;
    
    protected override async Task OnInitializedAsync()
    {
        //var now = DateTime.Now;
        //String shortDate = $"{now.Date}:{now.Year}";
        //Console.WriteLine(shortDate);
        rooms = await GetListOfTypes();
    }
}
